/* Trabalho 1 - Desenvolvimento de Sistemas Web - T01 - 2022.1
    
Alunos:
Denilson Luiz Amaro Martins - 2020031625
Pedro Henrique Azevedo do Prado - 2022001536

Professor:
Eduardo Ribeiro Felipe */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    background-image: url("/trabalho1DevWeb/images/imagemFundo.png");
    background-repeat: repeat;
    background-image: ;
}

/* #fundo {
    width: 100vmax;
    height: 100vmax;
    background-image: url("/trabalho1DevWeb/images/logoVetor.jpg");
    background-size: contain;
    opacity: 0.2;
    background-repeat: repeat;
    position: absolute;
    background-position: center;
} */

.fundoCalc {
    display: flex;
    flex-direction: column;
}

.imgFundoCalc {
    width: 100vmax;
    height: 100vmax;
    background-image: url("/images/logoVetor.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}

#menu-h {
    background-color: rgb(0, 51, 126);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(246, 250, 9);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(246, 250, 9);
    color: rgb(0, 51, 126);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(147, 147, 147);
}

#menu-h ul li:last-child a:hover {
    background-color: rgb(246, 250, 9);
    color: rgb(0, 51, 126);
}

#textoApresentacao {
    text-align: justify;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 51, 126);
    font-size: 8vh;
    text-align: center;
}

h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 51, 126);
    text-align: center;

}

#tabela {
    margin: 0 auto;
    width: 900px;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Cabeçalho da Linha */
#tabela thead tr {
    background-color: rgb(0, 51, 126);
    color: rgb(246, 250, 9);
    text-align: center;
}

/* Body da Linha */
#tabela tbody tr {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#tabela thead tr th {
    padding: 15px;
}

/* linha */
#tabela tr {
    border: 3px solid rgb(0, 0, 0);
}

.inputs {
    color: rgb(0, 51, 126);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    text-align: center;
}

.text-center {
    transition-duration: 0.4s;
    text-align: center;
}

.button {
    background-color: rgb(246, 250, 9);
    /* Green */
    border: none;
    color: rgb(0, 51, 126);
    border-radius: 12px;
    border-style: outset;
    border-color: rgb(0, 51, 126);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(0, 51, 126);
    color: rgb(246, 250, 9);
    border-color: rgb(246, 250, 9);
}

.outputs {
    color: rgb(0, 51, 126);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    text-align: center;
}

.textoApresentacao {
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
    font-style: italic;
    font-size: larger;
}

#imgApresentacao {
    display: flex;
    border-style: double;
    border-radius: 5%;
}

.imgHome {
    text-align: center;
}

@media (max-width: 720px) {
    .textoApresentacao {
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
        font-style: italic;
        font-size: larger;
    }
}

@media (max-width: 720px) {
    .imgApresentacao {
        margin-left: 5%;
        margin-right: 5%;
    }
} 
